<div>
    <form novalidate>
        <div ng-show="isMobileEmail" class="animate-show">
            Email <input type="text" ng-model="book_servicing.email"/><br/>
            Mobile <input type="text" ng-model="book_servicing.mobile" ng-focus="searchMobileEmail()"/><br/>
            <!--input type="button" ng-click="searchMobileEmail()" value="Check User" ng-disabled="isSearchEmail"/><br-->
            <div ng-show="isExistingUser" class="animate-show">
                Enter password: <input type="password" ng-model="exist_user.password"><br/>
                <input type="button" ng-click="loginAutoFill()" value="Auto fill Details"/><br>
            </div>
            <div ng-show="shouldNoFill">
                <input type="button" ng-click="proceedNoFill()" value="Proceed with no fill"/><br>
            </div>
            <div ng-show="isNewUser" class="animate-show">
                Set password: <input type="password" ng-model="new_user.password"/><br/>
                Confirm password: <input type="password" ng-model="new_user.cnf_password"><br/>
                <input type="button" ng-click="createUserNoFill()" value="Procced to Servicing details"/><br>
            </div>
        </div>
 
        <div class="animate-show" ng-show="isBikeDetails">
            
            Bike Brand:  <select ng-options="bike_brand.name for bike_brand in bike_brands" ng-model="bike_brand_selected" /><br/>
            Bike Name: <input type="text" ng-model="book_servicing.model_name"/><br/>
            Bike Number: <input type="text" ng-model="book_servicing.bike_number"/><br/>
            Service Station: <select ng-options="service_station.name for service_station in service_stations" ng-model="booking_ss" ng-change="selectedSS(booking_ss)" /><br/>
            Preferred Servicing Date:
            <div class="row" ng-controller="datePickerCtrl">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="book_servicing.booking_date" is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <br/>
            Free Servicing: 
                <div ng-controller="buttonsCtrl" class="btn-group">
                    <label class="btn btn-primary" ng-model="book_servicing.is_free_service" btn-radio="'1'">Free</label>
                    <label class="btn btn-primary" ng-model="book_servicing.is_free_service" btn-radio="'0'">Paid</label>
                </div><br/>
            Regular Servicing?: 
                <div ng-controller="buttonsCtrl" class="btn-group">
                    <label class="btn btn-primary" ng-model="book_servicing.is_regular_service" btn-radio="'1'">Yes</label>
                    <label class="btn btn-primary" ng-model="book_servicing.is_regular_service" btn-radio="'0'">No</label>
                </div><br/>
            Other Problems: <input type="area" ng-model="book_servicing.customer_notes"/><br/>
            Coupon ID: <input type="text" ng-model="book_servicing.coupon_id" /><br/>

            <input type="button" ng-click="enterBikeDetails()" value="Procced to Address details"/><br>
        </div>
        <div class="animate-show" ng-show="isAddressDetails">
            First Name <input type="text" ng-model="book_servicing.first_name"/><br/>
            Last Name <input type="text" ng-model="book_servicing.last_name"/><br/>
            Pick up Address: <input type="area" ng-model="book_servicing.address"/><br/>
            Area <input type="text" ng-model="book_servicing.area_id"/><br/>
            Pincode <input type="text" ng-model="book_servicing.pincode"/><br/>
            <input type="button" ng-click="backToBikeDetails()" value="Back to Bike Details"/>
            <input type="button" ng-click="enterAddress()" value="View Booking Summary"/>
        </div>
        
        <!-- allow user to edit details if there is some thing he/she wants to
        update -->

        <div ng-show="shouldEditDetails" class="animate-show">
            <div ng-show="isBikeExists" class="animate-show">
                Select Bike: 
                <div ng-repeate="bike in bikes">
                    <input type="button" ng-click="selectBike(bike.bike_id)" value="bike.number"/> 
                 </div>
                <button type="button" class='btn btn-link' ng-click="addBike()">Add Bike</button>
                <br/>
                <div ng-show="wantsToAddBike" class="annimate-show">
                    <div class="annimate-show" ng-include="'views/AddBike.html'"/>
                </div>
            </div>
        </div>

        <!--show summary with the final changes -->
        <div class="animate-show" ng-show="isSummary">
            Address Details:<br/>
                Name: {{book_servicing.first_name}} {{book_servicing.last_name}} <br/>
                Mobile: {{book_servicing.mobile}} <br/>
                Email: {{book_servicing.email}} <br/>
                Pick up Address: {{book_servicing.address}}<br/>
                Pincode: {{book_servicing.pincode}}<br/>

            Servicing Details:<br/>
                Bike Name: {{book_servicing.model_name}}<br/>
                Bike Number: {{book_servicing.bike_number}}<br/>
                Service Station: {{booking_ss.name}}<br/>
                Preferred Servicing Date: {{book_servicing.booking_date}}<br/>
                Servicing Mode: {{book_servicing.is_free_service}}<br/>
                Regular Servicing: {{book_servicing.is_regular_service}}<br/>
                Other Problems: {{book_servicing.customer_notes}} <br/>


            <input type="button" ng-click="backToAddress()" value="Back to Address Details"/>
            <input type="submit" ng-click="bookService(book_servicing)" value="Book Servicing"/>
        <div>
    </form>
</div>
