<div>
    <form novalidate>
        <div class="mainpage">
        First Name <input type="text" ng-model="book_servicing.first_name"/><br/>
        Last Name <input type="text" ng-model="book_servicing.last_name"/><br/>
        Mobile <input type="text" ng-model="book_servicing.mobile"/><br/>
        Email <input type="text" ng-model="book_servicing.email"/><br/>
        Pick up Address: <input type="area" ng-model="book_servicing.address"/><br/>
        Area <input type="text" ng-model="book_servicing.area_id"/><br/>
        Pincode <input type="text" ng-model="book_servicing.pincode"/><br/>
        Bike Name<input type="text" ng-model="book_servicing.bike_name"/><br/>
        Bike Number<input type="text" ng-model="book_servicing.bike_number"/><br/>
        Bike Number<input type="text" ng-model="book_servicing.bike_number"/><br/>
        Service Station<select ng-options="service_station.name for service_station in service_stations" ng-model="book_servicing.ss_id" ng-change="selectedSS(service_station)"/><br/>
            Preferred Servicing Date:
            <div class="row" ng-controller="datePickerCtrl">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <br/>
        Free Servicing: 
        <div ng-controller="buttonsCtrl" class="btn-group">
            <label class="btn btn-primary" ng-model="radioModel" btn-radio="'1'">Free</label>
            <label class="btn btn-primary" ng-model="radioModel" btn-radio="'0'">Paid</label>
        </div><br/>
        <!--input type="radio" ng-model="book_servicing.is_free_service" value=1 name="free_service" />free
        <input type="radio" ng-model="book_servicing.is_free_service" value=0 name="free_service"/>paid<br/-->
        Other Problems: <input type="area" ng-model="book_servicing.customer_notes"/><br/>
        <input type="button" ng-click="reset()" value="Clear All"/>
        <input type="submit" ng-click="proceed(book_servicing)" value="Proceed To Book"/>
        <div>
    </form>
</div>
