<div>
Search: <input ng-model="query">
    <div ng-repeat-start="service_station in service_stations| filter:query" class="row container" display:block>
        <table class="table table-responsive table-condensed">
            <tbody>
            <tr>
                <!--td>{{position.coords.latitude}}</td-->
                <td>{{service_station.name}}</td>
                <td rowspan=3>{{service_station.distance}}</td>
                <td rowspan=3 class="vert-align"><input type="button" value="book service" class="btn btn-primary"/></td>
                <td rowspan=3>{{service_station.overall_rating}}</td>
                <td rowspan=3 class="vert-align"><input type="checkbox" /></td>
            </tr>
            <tr>
                <td>{{service_station.address}}</td>
            </tr>
            <tr>
                <td><button type="button" class='btn btn-link' ng-show="service_station.ss_id!=idSelected" ng-click="setSelected(service_station.ss_id)">+show more</button>
                <button type="button" class='btn btn-link' ng-show="service_station.ss_id===idSelected" ng-click="setSelected(null)">-hide</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="service_station.ss_id===idSelected" class="animate-show" ng-repeat-end>
            <table>
                <tbody>
                <tr>
                    <td>{{service_station.contact_ph}}</td>
                    <td>{{service_station.email}}</td>
                </tr>
                <tr>
                    <td>{{service_station.description}}</td>
                    <td>{{service_station.website}}</td>
                </tr>
                <tr>
                    <td>{{service_station.logo_path}}</td>
                    <td>{{service_station.area.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
            <!--td>{{service_station.brand_id}}</td>
            <td>{{service_station.weekly_off_code}}</td>
            <td>{{service_station.ss_timing}}</td>
            <td>{{service_station.ss_associate_id}}</td>
            <td>{{service_station.about_workshop}}</td>
            <td>{{service_station.about_team}}</td>
            <td>{{service_station.features_list}}</td>
            <td>{{service_station.latitude}}</td>
            <td>{{service_station.updatedAt}}</td-->
        <!--tr ng-if="service_station.id===idSelected" ng-repeat-end>
            <td colspan="8">{{service_station.about_workshop}}</td>
        </tr-->
</div>
