<div>
Search: <input ng-model="query">
    <div ng-repeat="service_station in service_stations| filter:query" class="row container" display:block>
        <table class="table table-responsive table-condensed">
            <tbody>
            <tr>
                <td>{{service_station.name}}</td>
                <td rowspan=3 class="vert-align">{{service_station.distance}}KM</td>
                <td rowspan=3 class="vert-align"><input type="button" value="book service" class="btn btn-primary" ng-click="gotoBookService(service_station.ss_id)"/></td>
                <td rowspan=3>{{service_station.overall_rating}}</td>
                <td rowspan=3 class="vert-align"><input type="checkbox" /></td>
            </tr>
            <tr>
                <td>{{service_station.address}} : {{service_station.area.pin}}</td>
            </tr>
            <tr>
                <td><button type="button" class='btn btn-link' ng-show="service_station.ss_id!=idSelected" ng-click="setSelected(service_station.ss_id)">+show more</button>
                <button type="button" class='btn btn-link' ng-show="service_station.ss_id===idSelected" ng-click="setSelected(null)">-show less</button></td>
            </tr>
            </tbody>
        </table>
        <div ng-show="service_station.ss_id===idSelected" class="animate-show border-div">
                <div>
                        Vehicle Serviced: {{service_station.brand_id}}
                        {{service_station.description}}
                        {{service_station.website}}
                        {{service_station.logo_path}}
                        {{service_station.area.name}}
                </div>
                <div>
                        Contacts
                        {{service_station.contact_ph}}
                        {{service_station.mobile}}
                        {{service_station.email}}
                </div>
                <div>
                    {{service_station.overall_rating}}
                </div>
        </div>
    </div>
            <!--td>{{service_station.brand_id}}</td>
            <td>{{service_station.weekly_off_code}}</td>
            <td>{{service_station.ss_timing}}</td>
            <td>{{service_station.ss_associate_id}}</td>
            <td>{{service_station.about_workshop}}</td>
            <td>{{service_station.about_team}}</td>
            <td>{{service_station.features_list}}</td>
            <td>{{service_station.latitude}}</td>
            <td>{{service_station.updatedAt}}</td-->
        <!--tr ng-if="service_station.id===idSelected" ng-repeat-end>
            <td colspan="8">{{service_station.about_workshop}}</td>
        </tr-->
</div>
