<div>
<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Address</th>
        <th>Contact No</th>
        <th>Email ID</th>
        <th>Description</th>
        <th>Site Address</th>
        <th>Logo</th>
        <th>Area</th>
    </thead>
    <tbody>
        <tr ng-repeat="service_station in service_stations">
            <td>{{service_station.name}}</td>
            <td>{{service_station.address}}</td>
            <td>{{service_station.contact_no}}</td>
            <td>{{service_station.email}}</td>
            <td>{{service_station.description}}</td>
            <td>{{service_station.siteaddress}}</td>
            <td>{{service_station.logopath}}</td>
            <td>{{service_station.area_id}}</td>
            <td>{{service_station.brand_id}}</td>
            <td>{{service_station.weekly_off_code}}</td>
            <td>{{service_station.ss_timing}}</td>
            <td>{{service_station.ss_associate_id}}</td>
            <td>{{service_station.about_workshop}}</td>
            <td>{{service_station.about_team}}</td>
            <td>{{service_station.features_list}}</td>
            <td>{{service_station.latitude}}</td>
            <td>{{service_station.updatedAt}}</td>

        </tr>
    </tbody>
</table>
</div>
</body>
</html>

















email: req.body.email,
 13                 description: req.body.description,
  14                 siteaddress: req.body.siteaddress,
   15                 logopath: req.body.logopath,
    16                 area_id: req.body.area_id,
     17                 brand_id: req.body.brand_id,
      18                 weekly_off_code: req.body.weekly_off_code,
       19                 ss_timing: req.body.ss_timing,
        20                 ss_associate_id: req.body.ss_associate_id,
         21                 about_workshop: req.body.about_workshop,
          22                 about_team: req.body.about_team,
           23                 features_list: req.body.features_list,
            24                 latitude: req.body.latitude,
             25                 longitude: req.body.longitude,
              26                 ss_type_code: req.body.ss_type_code,
               27                 pick_drop_km: req.body.pick_drop_km,
                28                 facilities: req.body.facilities,
                 29                 registertime: req.body.registertime,
                  30                 verify_time: req.body.verify_time,
                   31                 approve_time: req.body.approve_time

