<div>
<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Address</th>
        <th>Contact No</th>
        <th>Email ID</th>
        <th>Description</th>
        <th>Site Address</th>
        <th>Logo</th>
        <th>Area</th>
    </thead>
    <tbody>
        <tr ng-repeat="service_station in service_stations">
            <td>{{service_station.name}}</td>
            <td>{{service_station.address}}</td>
            <td>{{service_station.contact_no}}</td>
            <td>{{service_station.email}}</td>
            <td>{{service_station.description}}</td>
            <td>{{service_station.siteaddress}}</td>
            <td>{{service_station.logopath}}</td>
            <td>{{service_station.area_id}}</td>
            <td>{{service_station.brand_id}}</td>
            <td>{{service_station.weekly_off_code}}</td>
            <td>{{service_station.ss_timing}}</td>
            <td>{{service_station.ss_associate_id}}</td>
            <td>{{service_station.about_workshop}}</td>
            <td>{{service_station.about_team}}</td>
            <td>{{service_station.features_list}}</td>
            <td>{{service_station.latitude}}</td>
            <td>{{service_station.updatedAt}}</td>

        </tr>
    </tbody>
</table>
</div>
</body>
</html>
